@page "/"
@inject IJSRuntime JSRuntime
<PageTitle>EMR-FHIR Mapping Tool</PageTitle>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Welcome to EMR-FHIR Mapping Tool</h1>
                    <p class="card-text">
                        This tool helps you create mappings between EMR database tables and FHIR resources.
                        Use it to easily map fields from your EMR system to FHIR resource properties.
                    </p>
                    <a href="mappings" class="btn btn-primary">View Mappings</a>
                    <a href="mappings/create" class="btn btn-success ms-2">Create New Mapping</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Getting Started</h5>
                    <p class="card-text">Learn how to create and manage your EMR to FHIR mappings.</p>
                    <button class="btn btn-outline-primary">View Guide</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">FHIR Resources</h5>
                    <p class="card-text">Explore available FHIR resources and their structure.</p>
                    <button class="btn btn-outline-primary">View Resources</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">EMR Connection</h5>
                    <p class="card-text">Configure connection to your EMR database system.</p>
                    <button class="btn btn-outline-primary">Configure</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.stopEventPropagation = function (event) {
        event.stopPropagation();
        return true;
    };
</script>